@font-face {
    font-family: 'norsebold';
    src: url('assets/norse-bold-webfont.woff2') format('woff2'),
         url('assets/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: inherit;
}
 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    height: 100vh;
}

.side {
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;

    flex: 1
}

#name-container {
    font-family: 'norsebold';
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#name-container > p {
    font-size: 6em;
}

#logo {
    width: 100px;
    height: auto;
}

#logo > img {
    width: 100%;
}

#image-credit {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    box-sizing: border-box;

    background-color: #F9FAFB;
}

.form > * > * {
    padding: 0 100px 0 100px;
}

#top-form {
    font-size: 32px;
    width: 32em;
}

#signup-form fieldset {
    background-color: white;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.329);
    border: none;
    margin-bottom: 35px;
}

fieldset > span {
    display: block;
    font-size: 32px;
    padding-top: 25px;
}

input, label {
    display: block;
}

input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0 , 0.5);
}

input:invalid {
    outline: none;
    border-color: red;
}

#first-row {
    padding-top: 25px;
}

#first-row, #second-row, #third-row {
    display:flex;
    gap: 70px;
    padding-bottom: 25px;
}

#signup-form > button {
    padding: 12px 36px;
    margin: 0 100px;

    font-size: 16px;
    font-weight: bold;

    background-color: #596D48;
    color: white;
    border: 1px solid #596D48;
    border-radius: 4px;
}

#login {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}